body {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Cards */
.card {
    border-radius: 15px;
    transition: 0.3s;
    background-color: white;
    color: black;
}

.card:hover {
    transform: scale(1.05);
}

/* Headings */
h1, h2, h3 {
    font-weight: bold;
}

/* Buttons */
.btn {
    border-radius: 10px;
}

/* Form inputs */
input {
    border-radius: 10px !important;
}
.container {
    margin-top: 50px;
}
body.bg-dark {
    background: #121212 !important;
    color: white !important;
}

body.bg-dark .card {
    background-color: #1e1e1e;
    color: white;
}